@keyframes sparkle_pink {
  0% {
    background-image: url(/images/sparkle_pink.svg);
  }
  33% {
    background-image: url(/images/sparkle_yellow.svg);
  }
  66% {
    background-image: url(/images/sparkle_green.svg);
  }
  100% {
    background-image: url(/images/sparkle_red.svg);
  }
}
/* Вылет носков из открывшейся дверцы */
@keyframes sock-out-1 {
  0% {
    transform: translate(-40%, -35%) scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-160%, -130%) scale(2.3) rotate(-25deg);
    opacity: 0;
  }
}
@keyframes sock-out-2 {
  0% {
    transform: translate(10%, -45%) scale(1) rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: translate(170%, -150%) scale(2.4) rotate(30deg);
    opacity: 0;
  }
}
@keyframes sock-out-3 {
  0% {
    transform: translate(-35%, 10%) scale(1) rotate(10deg);
    opacity: 1;
  }
  100% {
    transform: translate(10%, 170%) scale(2.2) rotate(60deg);
    opacity: 0;
  }
}
@keyframes sock-out-4 {
  0% {
    transform: translate(-5%, 50%) scale(1) rotate(120deg);
    opacity: 1;
  }
  100% {
    transform: translate(30%, 100%) scale(2.3) rotate(90deg);
    opacity: 0;
  }
}
@keyframes door-shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0.25vw, -0.2vw) rotate(-0.8deg);
  }
  50% {
    transform: translate(-0.25vw, 0.2vw) rotate(0.8deg);
  }
  75% {
    transform: translate(0.2vw, 0.25vw) rotate(-0.5deg);
  }
  100% {
    transform: translate(-0.2vw, -0.2vw) rotate(0.5deg);
  }
}

/* Резкие скачки носков (дискретные позиции) */
@keyframes sock-jump-1 {
  0%,
  8% {
    transform: translate(-40%, -35%) rotate(10deg);
  }
  9%,
  24% {
    transform: translate(35%, -40%) rotate(45deg);
  }
  25%,
  40% {
    transform: translate(40%, 35%) rotate(90deg);
  }
  41%,
  56% {
    transform: translate(-35%, 40%) rotate(135deg);
  }
  57%,
  72% {
    transform: translate(15%, 10%) rotate(200deg);
  }
  73%,
  88% {
    transform: translate(-10%, -5%) rotate(260deg);
  }
  89%,
  100% {
    transform: translate(-40%, -35%) rotate(310deg);
  }
}

@keyframes sock-jump-2 {
  0%,
  8% {
    transform: translate(10%, -45%) rotate(-15deg);
  }
  9%,
  24% {
    transform: translate(40%, -5%) rotate(20deg);
  }
  25%,
  40% {
    transform: translate(25%, 40%) rotate(70deg);
  }
  41%,
  56% {
    transform: translate(-30%, 25%) rotate(130deg);
  }
  57%,
  72% {
    transform: translate(-42%, -10%) rotate(190deg);
  }
  73%,
  88% {
    transform: translate(5%, 5%) rotate(250deg);
  }
  89%,
  100% {
    transform: translate(10%, -45%) rotate(305deg);
  }
}

@keyframes sock-jump-3 {
  0%,
  8% {
    transform: translate(-35%, 10%) rotate(5deg);
  }
  9%,
  24% {
    transform: translate(30%, -30%) rotate(40deg);
  }
  25%,
  40% {
    transform: translate(40%, 20%) rotate(90deg);
  }
  41%,
  56% {
    transform: translate(-15%, 40%) rotate(140deg);
  }
  57%,
  72% {
    transform: translate(-40%, -25%) rotate(190deg);
  }
  73%,
  88% {
    transform: translate(5%, -10%) rotate(245deg);
  }
  89%,
  100% {
    transform: translate(-35%, 10%) rotate(295deg);
  }
}
@keyframes sock-jump-4 {
  0%,
  8% {
    transform: translate(-30%, 20%) rotate(-40deg);
  }
  9%,
  24% {
    transform: translate(30%, -30%) rotate(40deg);
  }
  25%,
  40% {
    transform: translate(40%, 15%) rotate(100deg);
  }
  41%,
  56% {
    transform: translate(-135%, 60%) rotate(170deg);
  }
  57%,
  72% {
    transform: translate(-60%, -25%) rotate(130deg);
  }
  73%,
  88% {
    transform: translate(20%, -10%) rotate(215deg);
  }
  89%,
  100% {
    transform: translate(-90%, 100%) rotate(30deg);
  }
}
